body {
    text-align: center;
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: 960px;
    
    
}

/*FLEXBOX--------------*/

.row {
    display: flex;
    border: solid 1px black;    
}

.column {
    background-color: lightgray;
    flex: 1;
    border: solid 1px black;    

}